.ui-layout-container {
}

.ui-layout-container > div {
	overflow: hidden !important;
}

.ui-layout-resizer-north, .ui-layout-resizer-south {
	cursor: row-resize !important;
}

.ui-layout-resizer-east, .ui-layout-resizer-west {
	cursor: col-resize !important;
}